Repository OverTheAirBrew/brewery-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run generate-docs && git add ./packages/api-client

updates
  .github/workflows/reusable-build-and-test.yml
  apps/backend/package.json
  package.json
  pnpm-lock.yaml
Due: none

a
  .github/workflows/reusable-build-and-test.yml
Due: none

fixing docker codegen
  .github/workflows/reusable-build-and-test.yml
  .vscode/launch.json
  Dockerfile
  packages/codegen/src/index.ts
  pnpm-workspace.yaml
Due: prettier --write

making codegen always happen first
  turbo.json
Due: none

adding codegen
  .gitignore
  apps/backend/package.json
  apps/backend/src/plugins/ftss-device/schemas.ts
  packages/codegen/src/abstractions.ts
  packages/codegen/src/index.ts
  packages/codegen/src/python-gen.ts
  packages/codegen/src/ts-gen.ts
  turbo.json
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

feat: update
  .vscode/settings.json
  apps/ftss-firmware/.gitignore
  apps/ftss-firmware/package.json
  apps/ftss-firmware/src/booy.py
  apps/ftss-firmware/src/config_manager.py
  apps/ftss-firmware/src/device_id.py
  apps/ftss-firmware/src/lib/hardware/__init__.py
  apps/ftss-firmware/src/lib/hardware/relay.py
  apps/ftss-firmware/src/lib/hardware/thermometer.py
  apps/ftss-firmware/src/lib/microdot/__init__.py
  apps/ftss-firmware/src/lib/microdot/microdot.py
  apps/ftss-firmware/src/lib/mqtt/__init__.py
  apps/ftss-firmware/src/lib/mqtt/base.py
  apps/ftss-firmware/src/lib/mqtt/mqtt_manager.py
  apps/ftss-firmware/src/lib/network/__init__.py
  apps/ftss-firmware/src/lib/network/dns.py
  apps/ftss-firmware/src/lib/network/wifi.py
  apps/ftss-firmware/src/lib/umqtt/simple.py
  apps/ftss-firmware/src/lib/web/__init__.py
  apps/ftss-firmware/src/lib/web/routes/__init__.py
  apps/ftss-firmware/src/lib/web/routes/common.py
  apps/ftss-firmware/src/lib/web/routes/config.py
  apps/ftss-firmware/src/lib/web/server.py
  apps/ftss-firmware/src/lib/web/templates.py
  apps/ftss-firmware/src/lib/web/templates/__init__.py
  apps/ftss-firmware/src/lib/web/templates/config.py
  apps/ftss-firmware/src/lib/web/templates/layout.py
  apps/ftss-firmware/src/main.py
  apps/mqtt-server/src/main.ts
  packages/codegen/src/python-gen.ts
  pnpm-lock.yaml
Due: prettier --write

feat: update
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/m1-docs-onboarding.md
  .github/ISSUE_TEMPLATE/m2-build-ci.md
  .github/ISSUE_TEMPLATE/m3-plugin-dx.md
  .github/ISSUE_TEMPLATE/m4-security-auth.md
  .github/ISSUE_TEMPLATE/m5-testing-contracts.md
  .github/ISSUE_TEMPLATE/m6-governance-community.md
  OPEN_SOURCE_TODO.md
  apps/backend/src/plugins/README.md
  apps/backend/src/plugins/fermentation-pid/index.ts
  apps/backend/src/plugins/fermentation-pid/module.ts
  apps/backend/src/plugins/ftss-device/actor/index.ts
  apps/backend/src/plugins/ftss-device/controller.ts
  apps/backend/src/plugins/ftss-device/index.ts
  apps/backend/src/plugins/ftss-device/module.ts
  apps/backend/src/plugins/local-device/index.ts
  apps/backend/src/plugins/local-device/module.ts
  apps/backend/src/plugins/plugins.module.ts
  apps/backend/src/plugins/provider-helpers.ts
  open-source-milestones/M1-docs-and-onboarding.md
  open-source-milestones/M2-build-and-ci.md
  open-source-milestones/M3-plugin-dx.md
  open-source-milestones/M4-security-auth.md
  open-source-milestones/M5-testing-contracts.md
  open-source-milestones/M6-governance-community.md
  open-source-milestones/README.md
  packages/plugins/src/index.ts
  packages/plugins/src/plugins/index.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

tevert
  .github/workflows/pull-request.yml
  package.json
  packages/codegen/package.json
  packages/codegen/src/abstractions.ts
  packages/codegen/src/index.ts
  packages/codegen/src/python-gen.ts
  packages/codegen/src/ts-gen.ts
  packages/codegen/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

update
  apps/backend/global.d.ts
  apps/backend/src/api/actors/actors.service.spec.ts
  apps/backend/src/api/actors/actors.service.ts
  apps/backend/src/api/devices/device.service.spec.ts
  apps/backend/src/api/devices/device.service.ts
  apps/backend/src/api/sensors/sensors.service.spec.ts
  apps/backend/src/api/sensors/sensors.service.ts
  apps/backend/src/api/vessels/vessels.service.spec.ts
  apps/backend/src/auth/auth.guard.spec.ts
  apps/backend/src/config/index.ts
  apps/backend/src/plugins/ftss-device/actor/index.ts
  apps/backend/src/plugins/ftss-device/controller.ts
  apps/backend/src/plugins/ftss-device/device.ts
  apps/backend/src/plugins/ftss-device/interfaces.ts
  apps/backend/src/plugins/ftss-device/message-schemas/ftss-switch-actor.json
  apps/backend/src/plugins/ftss-device/message-schemas/ftss-temperature-reading.json
  apps/backend/src/plugins/ftss-device/sensors/index.ts
  apps/backend/src/plugins/local-device/actors/dummy/index.ts
  apps/backend/src/plugins/local-device/sensors/dummy/index.ts
  apps/backend/src/processors/mqtt-sensor.bootstrapper.ts
  apps/backend/src/processors/processors.module.ts
  apps/backend/test/helpers/create-test-application.ts
  apps/backend/test/helpers/test-providers/actor.ts
  apps/backend/test/helpers/test-providers/device.ts
  apps/backend/vite.config.ts
  apps/mqtt-server/package.json
  apps/mqtt-server/src/lib/authorizer.ts
  apps/mqtt-server/src/main.ts
  docker-compose.yml
  packages/plugins/package.json
  packages/plugins/src/base-types/abstractions.ts
  packages/plugins/src/base-types/actor.ts
  packages/plugins/src/base-types/device.ts
  packages/plugins/src/base-types/index.ts
  packages/plugins/src/base-types/sensor.ts
  packages/plugins/src/index.ts
  packages/plugins/src/message-pattern.ts
  packages/plugins/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

update
  pnpm-lock.yaml
Due: none

update
  apps/backend/vite.config.mjs
  packages/plugins/package.json
  pnpm-lock.yaml
Due: none

update
  .github/workflows/reusable-build-and-test.yml
Due: none

adding test for temp reading
  .husky/pre-commit
  apps/backend/src/mqtt-client/mqtt-client.service.ts
  apps/backend/src/plugins/fermentation-pid/interfaces.ts
  apps/backend/src/plugins/ftss-device/controller.ts
  apps/backend/src/plugins/ftss-device/messages/FtssDeviceSwitchActor.ts
  apps/backend/src/plugins/ftss-device/messages/FtssDeviceTemperatureReading.ts
  apps/backend/src/plugins/local-device/controller.ts
  apps/backend/test/actors.e2e-spec.ts
  apps/backend/test/device-types.e2e-spec.ts
  apps/backend/test/devices.e2e-spec.ts
  apps/backend/test/helpers/create-test-application.ts
  apps/backend/test/helpers/entity-helpers/actor.ts
  apps/backend/test/helpers/entity-helpers/device.ts
  apps/backend/test/helpers/entity-helpers/sensor.ts
  apps/backend/test/helpers/setup.ts
  apps/backend/test/logic-types.e2e-spec.ts
  apps/backend/test/plugins/ftss.e2e-spec.ts
  apps/backend/test/sensors.e2e-spec.ts
  apps/backend/test/vessels.e2e-spec.ts
  apps/backend/vite.config.mjs
  packages/plugins/src/message-pattern.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

adding more tests
  apps/backend/global.d.ts
  apps/backend/src/auth/auth.guard.spec.ts
  apps/backend/src/config/mqtt.config.ts
  apps/backend/src/global-configure.ts
  apps/backend/src/main.ts
  apps/backend/src/mqtt-client/mqtt-client.service.ts
  apps/backend/src/plugins/ftss-device/controller.ts
  apps/backend/src/plugins/ftss-device/device.spec.ts
  apps/backend/src/plugins/ftss-device/device.ts
  apps/backend/src/plugins/ftss-device/interfaces.ts
  apps/backend/src/plugins/ftss-device/schemas.ts
  apps/backend/src/plugins/local-device/device.spec.ts
  apps/backend/src/validation/exception.handler.spec.ts
  apps/backend/src/validation/validation.pipe.spec.ts
  apps/backend/test/helpers/create-test-application.ts
  apps/backend/test/helpers/setup.ts
  apps/backend/test/plugins/ftss.e2e-spec.ts
  apps/backend/vite.config.mjs
  packages/plugins/src/message-pattern.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

fix build
  apps/backend/src/plugins/ftss-device/actor/index.ts
  apps/backend/src/plugins/ftss-device/sensors/index.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

Path conditions:
  prettier --write: any of: *.ts
  pnpm run generate-docs && git add ./packages/api-client: any of: apps/backend/**/*.ts
