Repository OverTheAirBrew/brewery-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run generate-docs && git add ./packages/api-client

comment pull of image
  .github/actions/build-rpi-image/action.yaml
Due: none

bump
  .github/actions/build-rpi-image/action.yaml
Due: none

feat: hyperpixel2 screen image build
  .devcontainer/devcontainer.json
  .github/workflows/build-rpi-images.yml
  .github/workflows/merge-gatekeeper.yml
  .gitignore
  pi-image/docker-compose.yml
  pi-image/src/.gitignore
  pi-image/src/build_dist
  pi-image/src/config
  pi-image/src/custompios_path
  pi-image/src/image/.gitignore
  pi-image/src/image/README
  pi-image/src/modules/apt-fix/start_chroot_script
  pi-image/src/modules/hyperpixel2r/config
  pi-image/src/modules/hyperpixel2r/end_chroot_script
  pi-image/src/modules/hyperpixel2r/start_chroot_script
  pi-image/src/modules/ota-bp/config
  pi-image/src/modules/ota-bp/end_chroot_script
  pi-image/src/modules/ota-bp/filesystem/boot/README
  pi-image/src/modules/ota-bp/filesystem/boot/breweryplatform.txt
  pi-image/src/modules/ota-bp/filesystem/boot/splash-screens/splash-round.png
  pi-image/src/modules/ota-bp/filesystem/boot/splash-screens/splash.png
  pi-image/src/modules/ota-bp/filesystem/opt/brewery_platform/scripts/get_url
  pi-image/src/modules/ota-bp/filesystem/opt/brewery_platform/scripts/refresh
  pi-image/src/modules/ota-bp/filesystem/opt/brewery_platform/scripts/run_onepageos
  pi-image/src/modules/ota-bp/filesystem/opt/brewery_platform/scripts/start_chromium_browser
  pi-image/src/modules/ota-bp/filesystem/root_init/etc/systemd/system/splashscreen copy.service
  pi-image/src/modules/ota-bp/filesystem/root_init/etc/systemd/system/splashscreen.service
  pi-image/src/modules/ota-bp/start_chroot_script
  pi-image/src/release_dist
  pi-image/src/variants/hyperpixel2r/config
Due: none

updates
  .github/workflows/merge-gatekeeper.yml
  .gitignore
  package.json
  pi-image/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

zip output
  .devcontainer/devcontainer.json
  .github/workflows/build-rpi-images.yml
Due: none

update
  .github/workflows/build-rpi-images.yml
Due: none

increase merge gatekeeper
  .github/workflows/merge-gatekeeper.yml
Due: none

updating user dir
  .github/workflows/build-rpi-images.yml
  pi-image/docker-compose.yml
  pi-image/src/config
  pi-image/src/modules/ota-bp/filesystem/opt/brewery_platform/scripts/start_chromium_browser
  pi-image/src/modules/ota-bp/start_chroot_script
Due: none

path to save
  .github/workflows/build-rpi-images.yml
Due: none

renaming
  .github/workflows/build-rpi-images.yml
Due: none

feat(nestjs): Updating nestjs to latest version
  apps/backend/package.json
  package.json
  packages/nestjs-plugin-module/package.json
  packages/plugins/package.json
  plugins/local-device/package.json
  pnpm-lock.yaml
Due: none

feat(nestjs): Updating nestjs to latest version (#93)
  apps/backend/package.json
  package.json
  packages/nestjs-plugin-module/package.json
  packages/plugins/package.json
  plugins/local-device/package.json
  pnpm-lock.yaml
Due: none

feat: adding ftss application
  .github/workflows/reusable-build-and-test.yml
  .husky/pre-commit
  packages/class-type/package.json
  packages/class-type/src/index.ts
  packages/class-type/tsconfig.json
  packages/class-type/tsup.config.ts
  packages/gpio/README.md
  packages/gpio/package.json
  packages/gpio/src/gpio.module.ts
  packages/gpio/src/gpio.ts
  packages/gpio/src/gpioset/index.ts
  packages/gpio/src/index.ts
  packages/gpio/src/utils.ts
  packages/gpio/tsconfig.json
  packages/gpio/tsup.config.ts
  packages/one-wire-sensor/README.md
  packages/one-wire-sensor/package.json
  packages/one-wire-sensor/src/base-controller.ts
  packages/one-wire-sensor/src/index.ts
  packages/one-wire-sensor/src/interfaces.ts
  packages/one-wire-sensor/src/mechanisms/ds18b20.spec.ts
  packages/one-wire-sensor/src/mechanisms/ds18b20.ts
  packages/one-wire-sensor/src/mechanisms/stream.spec.ts
  packages/one-wire-sensor/src/mechanisms/stream.ts
  packages/one-wire-sensor/src/models/temperature.ts
  packages/one-wire-sensor/tsconfig.json
  packages/one-wire-sensor/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write

installing prettier
  package.json
  pnpm-lock.yaml
Due: none

fixing bug
  packages/one-wire-sensor/src/interfaces.ts
Due: prettier --write

feat: adding renovate bot auto approve
  .github/workflows/renovate-automerge.yml
Due: none

feat: adding renovate bot auto approve (#98)
  .github/workflows/renovate-automerge.yml
Due: none

feat: update
  .github/workflows/renovate-automerge.yml
Due: none

test
  .github/workflows/renovate-automerge.yml
Due: none

feat: adding renovate bot auto approve (#99)
  .github/workflows/renovate-automerge.yml
Due: none

Add pull_request_target trigger for Renovate workflow
  .github/workflows/renovate-automerge.yml
Due: none

Add pull_request_target trigger for Renovate workflow (#100)
  .github/workflows/renovate-automerge.yml
Due: none

updates
  apps/backend/src/fermentation/pid-controller.spec.ts
  apps/backend/src/fermentation/pid-controller.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

adding e2e tests
  .github/workflows/reusable-build-and-test.yml
  .vscode/settings.json
  apps/backend/src/api/device-types/device-types.service.ts
  apps/backend/src/api/devices/device.controller.ts
  apps/backend/src/api/devices/device.service.ts
  apps/backend/src/data/data.provider.ts
  apps/backend/test/actors.e2e-spec.ts
  apps/backend/test/device-types.e2e-spec.ts
  apps/backend/test/devices.e2e-spec.ts
  apps/backend/test/helpers/create-test-application.ts
  apps/backend/test/helpers/entity-helpers/device.ts
  apps/backend/test/helpers/entity-helpers/sensor.ts
  apps/backend/test/helpers/global-setup.ts
  apps/backend/test/helpers/setup.ts
  apps/backend/test/helpers/test-providers/actor.ts
  apps/backend/test/helpers/test-providers/device.ts
  apps/backend/test/helpers/test-providers/sensor.ts
  apps/backend/test/sensors.e2e-spec.ts
  apps/backend/vite.config.ts
  packages/models/src/dto/device-types.dto.ts
  packages/models/src/dto/index.ts
  packages/models/src/dto/sensor-types.dto.ts
  packages/models/src/schema/device-type.schema.ts
  packages/models/src/schema/index.ts
  packages/models/src/schema/sensor-type.schema.ts
  turbo.json
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

adding changeset
  .changeset/config.json
  .changeset/yellow-plums-try.md
Due: none

reset versions
  apps/backend/package.json
  packages/plugins/package.json
Due: none

update
  .changeset/config.json
  .changeset/yellow-plums-try.md
  package.json
  pnpm-lock.yaml
Due: none

changeset
  .changeset/seven-ads-clap.md
Due: none

moving archive
  archive/nestjs-plugin-module/CHANGELOG.md
  archive/nestjs-plugin-module/package.json
  archive/nestjs-plugin-module/src/index.ts
  archive/nestjs-plugin-module/src/lib/find-node-modules-matching-regex.test.ts
  archive/nestjs-plugin-module/src/lib/find-node-modules-matching-regex.ts
  archive/nestjs-plugin-module/src/lib/load-package-json.test.ts
  archive/nestjs-plugin-module/src/lib/load-package-json.ts
  archive/nestjs-plugin-module/tsconfig.json
  archive/nestjs-plugin-module/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier --write

updating references
  apps/backend/src/api/device-types/device-types.controller.ts
  apps/backend/src/api/logic-types/logic-types.service.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

adding more tests
  apps/backend/globals.d.ts
  apps/backend/package.json
  apps/backend/src/api/actor-sensor-types/actor-sensor-types.service.spec.ts
  apps/backend/src/api/actors/actors.service.spec.ts
  apps/backend/src/api/api-keys/api-keys.service.spec.ts
  apps/backend/src/api/device-types/device-types.service.spec.ts
  apps/backend/src/api/devices/device.service.spec.ts
  apps/backend/src/api/devices/device.service.ts
  apps/backend/test/helpers/test-providers/device.ts
  apps/backend/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

fixing branch tests
  apps/backend/src/api/actor-sensor-types/actor-sensor-types.service.ts
  apps/backend/src/api/actors/actors.controller.ts
  apps/backend/src/api/actors/actors.service.spec.ts
  apps/backend/src/api/actors/actors.service.ts
  apps/backend/src/api/actors/errors/maximum-actors-for-device-error.ts
  apps/backend/src/api/api-keys/api-keys.controller.ts
  apps/backend/src/api/api-keys/api-keys.service.ts
  apps/backend/src/api/decorator-ignore-comments.spec.ts
  apps/backend/src/api/device-types/device-types.controller.ts
  apps/backend/src/api/device-types/device-types.service.ts
  apps/backend/src/api/devices/device.controller.ts
  apps/backend/src/api/devices/device.service.spec.ts
  apps/backend/src/api/devices/device.service.ts
  apps/backend/src/api/health/health.controller.ts
  apps/backend/src/api/logic-types/logic-types.controller.ts
  apps/backend/src/api/logic-types/logic-types.service.spec.ts
  apps/backend/src/api/logic-types/logic-types.service.ts
  apps/backend/src/api/sensors/sensors.controller.ts
  apps/backend/src/api/sensors/sensors.service.spec.ts
  apps/backend/src/api/sensors/sensors.service.ts
  apps/backend/src/api/telemetry/telemetry.processor.spec.ts
  apps/backend/src/api/telemetry/telemetry.processor.ts
  apps/backend/src/api/telemetry/telemetry.service.spec.ts
  apps/backend/src/api/telemetry/telemetry.service.ts
  apps/backend/src/api/users/users.controller.ts
  apps/backend/src/api/users/users.service.spec.ts
  apps/backend/src/api/users/users.service.ts
  apps/backend/src/api/vessels/vessel-logic.processor.spec.ts
  apps/backend/src/api/vessels/vessel-logic.processor.ts
  apps/backend/src/api/vessels/vessels.controller.ts
  apps/backend/src/api/vessels/vessels.service.spec.ts
  apps/backend/src/api/vessels/vessels.service.ts
  apps/backend/test/helpers/test-providers/device.ts
  apps/backend/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

update
  apps/micropython-pizero/main.py
  apps/micropython-pizero/microdot/__init__.py
  apps/micropython-pizero/microdot/microdot.py
  apps/micropython-pizero/umqtt.py
  apps/micropython-pizero/webserver.py
  apps/mqtt-server/src/main.ts
Due: prettier --write

remove generated files
  .gitignore
  apps/backend/src/plugins/ftss-device/messages/FtssDeviceSwitchActor.ts
  apps/backend/src/plugins/ftss-device/messages/FtssDeviceTemperatureReading.ts
Due: prettier --write, pnpm run generate-docs && git add ./packages/api-client

Path conditions:
  prettier --write: any of: *.ts
  pnpm run generate-docs && git add ./packages/api-client: any of: apps/backend/**/*.ts
